body{
	height: 100%;
	width: 100%;
}

#stage{
	height: 100%;
	width: 100%;
	position: absolute;
}

.players {
  height: 100%;
	width: 80%;
 	border: 7px solid yellow;
	background: pink;
	opacity: .3;
	position: absolute;
	-webkit-transition: -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-o-transition: -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-moz-transition: -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	transition: -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
}

.scene {
	opacity: 1;
}